:root {
  --accent-color: #00ffce;
  --background-color: #000a20;
}

#mainHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;
}

#logInArea {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logInDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: var(--background-color);
  width: 400px;
  padding: 20px;
  border-radius: 5px;
}

#logInDiv > * {
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form > input {
  margin: 10px;
  height: 45px;
  border-radius: 5px;
}

#mainImg {
  height: 100vh;
  position: relative;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

#btn_SignUp {
  color: var(--accent-color);
  background-color: rgba(0, 0, 0, 0);
  border-color: var(--accent-color);
}

#link {
  text-decoration: underline !important;
  cursor: pointer;
}

#heroText {
  background-color: rgba(0, 10, 32, 0.9);
  width: 460px;
  text-align: end;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 40px;
  left: 0;
  z-index: 10;
}

#heroText > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: italic;
  color: white;
  margin: 10px;
}

#heroText > h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: var(--accent-color);
  margin: 0;
}

#coursesSection {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 30px;
}

#coursesInnerDiv {
  background-color: var(--background-color);
  color: white;
}

#aboutGrid {
  padding: 50px 100px 50px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 80px;
  column-gap: 100px;
}

#aboutSection > h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 30px;
  padding-left: 100px;
  padding-top: 50px;
}
#aboutP {
  width: 40%;
  margin-left: 100px;
  font-size: 18px;
}
#horLine {
  width: 800px;
}

.aboutElement > h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 25px;
}

.aboutElement > button {
  background-color: var(--background-color);
  color: var(--accent-color);
  font-family: roboto, sans-serif;
  border-radius: 5px;
  padding: 10px;
}

.panel {
  display: none;
}
.accordion {
  background-color: var(--background-color);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  text-align: center;
  outline: none;
}

.accordion:focus {
  outline: none;
}

.active,
.accordion:hover {
  color: var(--accent-color);
}

.panel {
  padding: 0 18px;
  display: none;
  color: white;
  overflow: hidden;
}

.accordion:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

#coursesInnerDiv {
  background-color: var(--background-color);
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
}
@media only screen and (max-width: 600px) {
  #mainImg {
    height: 80vh;
  }
  #mainHeader {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
    margin-top: 60px;
  }

  #heroText {
    background-color: rgba(0, 10, 32, 0.9);
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 40px;
    left: 0;
    z-index: 10;
  }
  #aboutGrid {
    padding: 50px 60px 50px 60px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 80px;
  }
  #horLine {
    width: 100vw;
  }
  #aboutP {
    width: 70vw;
    margin-left: 60px;
    font-size: 18px;
  }
  #aboutSection > h1 {
    padding-left: 60px;
    padding-right: 60px;
  }
  #logInDiv {
    width: 100%;
  }
  .accordion {
    width: 80%;
  }
  #coursesInnerDiv {
    width: 90vw;
  }
}
